header > * {
  font-size: 12px;
}
.logoBar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  border: 1px solid #c4c0c0;
  color: #5a5a5a;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 15px 0 15px;
}

a {
  text-decoration: none;
}
